body {
    padding-top: 4em;
    font-family: 'Open Sans', sans-serif;
}

p.deck {
    font-size: 2.5rem;
    font-weight: 200;
}

p.deck a {
    text-decoration: none;
}

.quiet {
    font-size: 90%;
    color: #999;
}

.statement{
    margin-left: 20px; 
}


/* upvote/downvote */
.fa-chevron-up:hover {
    color: orangered;
    cursor: pointer;
}

.upvoted{
    color: orangered;
}

.downvoted{
    color: #5f99cf;
}

.fa-chevron-down:hover {
    color: #5f99cf;
    cursor: pointer;
}

.score:hover {
    cursor: default;

}

.vote {
    width:50px;
    font-size:14pt;
    text-align:center;
    /*line-height: 15px;*/
}

.score {
    color:#737373;
}